OPENAI_API_KEY=<example>

# Only for one-time setup
YOUTUBE_REDIRECT_URL=http://localhost:8080

# For ongoing use
YOUTUBE_CLIENT_ID=<example>.apps.googleusercontent.com
YOUTUBE_CLIENT_SECRET=<example>
YOUTUBE_REFRESH_TOKEN=<example>
